.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

.*.sw[a-z]
*.un~
Session.vim
.netrwhist

# SublimeText project files
*.sublime-workspace

npm-debug.log
node_modules

tests/pdfs/test-*